<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <h1> Movie Gallery </h1>
        <a href="/create">Add a movie</a>
        <a href="/deleteAll">Delete all</a>
    </div>

    <div class="listings">
        <% movies.forEach(movie => { %>
            <%- include('movieCard', {movie: movie}) %>
        <% }) %>>
    </div>

</body>
</html>