<div class="movie-card">
    <div class="movie-image">
        
    </div>

    <div class="movie-details">
        <p>Movie: Oppenheimer </p>
        <p>Director: </p>
        <p>Genre: </p>
        <p>Main Actor: Cillian Murphy</p>
        <p>Year: 2023</p>
    </div>
</div>