<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating movie</title>
    <link rel="stylesheet" href="/addMovie.css">
</head>
<body>
    <h1>Update movie!</h1>
    <div>
        <form action="/update?movie_id=<%= movie_id %>" method="POST" class="movie-form">
            <label>Movie Title:</label>
            <input name="movie_title">
            <label>Director:</label>
            <input name="movie_director">
            <label>Genre:</label>
            <input name="movie_genre">
            <label>Cast (separated by commas):</label>
            <input name="movie_main_actor">
            <label>Year:</label>
            <input name="movie_released">

            <div style="display: flex; justify-content: center; margin-top: 1rem; align-items: center;">
                <button type="submit" id="submitButton">Update</button>
                <a href="/">Return home</a>
            </div>
        </form>
    </div>
</body>
</html>