*{
    margin: 0;
    font-family: Arial;
}

body{
    background-color: #282827;
    height: 100vh;
}

.header{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
    height: 15vh; 
}

a{
    color: red;
}

.listings {
    background-color: #181818;
    height: auto; /* Allows height to expand with content */
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to a new row */
    justify-content: flex-start; /* Aligns items to the start of each row */
    padding-left: 1rem;
}

.listings > div { /* Adjust the selector based on your actual HTML structure */
    margin: 10px; /* Adjust the value as needed for spacing */
    /* Optionally, add some width to each item */
    width: calc(25% - 20px); /* Example: 4 items per row with spacing */
}

.add-delete{
    width: 98vw;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.movie-card {
    color: white;
    background-color: #282827;
    height: 70vh;
    width: 20vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.movie-image{
    margin-top: 2vh;
    height: 25rem;
    width: 19rem;
    border: 1px solid white;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.movie-details{
    width: 18rem;
    height: 10rem;
}

.movie-details > p {
    margin-bottom: 0.3rem;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    width: 8rem;
    height: 3rem;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 80%;
}

.movieButtonsDiv{
    display: flex;
    justify-content: space-between;
    width: 18rem;
    height: 3rem;
}